[user]
	name = minato-devv
[alias]
	lg = log --oneline --graph --decorate --all
	a = add
	s = status
	sw = switch
	b = branch
	cl = clone
	c = commit -m
	p = push
	pl = pull
[core]
	editor = nvim
	excludesfile = .gitignore_global
[init]
	defaultBranch = main
[pull]
	rebase = true
[fetch]
	prune = true
[include]
	path = .gitconfig_private
[pager]
	diff = false
[advice]
	addEmbeddedRepo = false
	addEmptyPathspec = false
	addIgnoredFile = false
	amWorkDir = false
	ambiguousFetchRefspec = false
	checkoutAmbiguousRemoteBranchName = false
	commitBeforeMerge = false
	defaultBranchName = false
	detachedHead = false
	diverging = false
	fetchRemoteHEADWarn = false
	fetchShowForcedUpdates = false
	forceDeleteBranch = false
	graftFileDeprecated = false
	ignoredHook = false
	implicitIdentity = false
	mergeConflict = false
	nestedTag = false
	objectNameWarning = false
	pushAlreadyExists = false
	pushFetchFirst = false
	pushNeedsForce = false
	pushNonFFCurrent = false
	pushNonFFMatching = false
	pushNonFastForward = false
	pushRefNeedsUpdate = false
	pushUnqualifiedRefName = false
	pushUpdateRejected = false
	rebaseTodoError = false
	refSyntax = false
	resetNoRefresh = false
	resolveConflict = false
	rmHints = false
	sequencerInUse = false
	setUpstreamFailure = false
	skippedCherryPicks = false
	sparseIndexExpanded = false
	statusAheadBehindWarning = false
	statusHints = false
	statusUoption = false
	submoduleAlternateErrorStrategyDie = false
	submoduleMergeConflict = false
	submodulesNotUpdated = false
	suggestDetachingHead = false
	updateSparsePath = false
	waitingForEditor = false
	worktreeAddOrphan = false
