[user]
	name = minato-devv
[alias]
	lg = log --oneline --graph --decorate --all
	a = add
	s = status
	sw = switch
	br = branch
	cm = commit -m
	p = push
	pl = pull
	d = diff --color-words
[core]
	editor = nvim
	excludesfile = .gitignore_global
[init]
	defaultBranch = main
[pull]
	rebase = true
[fetch]
	prune = true
[diff]
	algorithm = histogram
[include]
	path = gitconfig_local
[advice]
	enabled = false
