alias ls='ls -Alht'
alias s='du -sh .* * | sort -h'

#alias cat='bat'
alias vim='nvim'
alias grep='grep --color=always -nHIE'
alias which='which -a'
alias qpath='print -l $path | xargs -I {} ls -1 {} 2>/dev/null | grep -hIE'

alias ql='qlmanage -p'
alias top='top -s 10 -n 15 -o mem -stats command,cpu,mem,state,time,pid'
#alias ff='fastfetch'
alias cycles="system_profiler SPPowerDataType | sed -nE 's/^.*Cycle Count: ([0-9]+)/\1/p'"
alias {ei,energy-impact}='sudo powermetrics -n 1 --samplers tasks --show-process-energy | head -n 50'
alias pds='pmset displaysleepnow'
alias flush-dns='sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder'
alias bckp-dotfiles='rsync -avP --delete --exclude ".git/" --exclude ".DS_Store" "$HOME/Dev/dotfiles/" "/Users/user/Library/Mobile Documents/com~apple~CloudDocs/Documents/dotfiles-bckp/"'
bckp-studies() {
	rsync -avP --delete --exclude '.Spotlight-*' --exclude '.Trashes' --exclude '.fseventsd' "/Volumes/Studies/" "/Users/user/Library/Mobile Documents/com~apple~CloudDocs/Academics/"
}

alias bugcp='brew update; brew upgrade --greedy; brew cleanup --prune=all'
alias bbl='brew bundle list --file ~/.homebrew/Brewfile'
alias bbd='brew bundle dump --force --file ~/.homebrew/Brewfile'

alias path='print -l $path'
alias fpath='print -l $fpath'

copypath() { 
	realpath "$1" | tr -d '\n' | pbcopy 
	echo "Copied location of $1 to clipboard"
}

mkcd() {
	mkdir -p "$1" && cd "$1"
}

z() {
    local file
    case "$1" in
		r) exec zsh -li ;;
        i) file="$ZDOTDIR/.zshrc" ;;
        v) file="$HOME/.zshenv" ;;
        p) file="$ZDOTDIR/.zprofile" ;;
        a) file="$ZDOTDIR/conf.d/.aliases" ;;
		b) file="$ZDOTDIR/conf.d/.bindkey" ;;
		f) file="$ZDOTDIR/conf.d/.vcs_info" ;;
		t) file="$ZDOTDIR/conf.d/.transient_prompt" ;;
		g) file="$XDG_CONFIG_HOME/ghostty/config" ;;
        *) return 1 ;;
    esac
	case "$2" in
		s) source "$file" && echo "Sourced $file" ;;
		e|"") "${EDITOR:-nvim}" "$file" && echo "Edited $file" ;;
		c) cat "$file" ;;
		b) bat "$file" ;;
		*) echo "Unknown action: $2" ;;
	esac
}
alias icloud='cd "$HOME/Library/Mobile Documents/com~apple~CloudDocs"'

alias giturl="git config --get remote.origin.url | sed -E 's/^(https:\/\/github.com\/|git@github.com:)([^/:]+\/[^.]+)(\.git)?$/https:\/\/github.com\/\2\.git/'"
alias gitrem='open $(giturl)'

list_repos() {
	find $HOME/Dev -maxdepth 3 -type f -path '*/.git/config' -exec grep -EIoh '(https:\/\/github.com\/|git@github.com:)([^/:]+\/[^.]+)(\.git)?' {} +
}

alias gd='git diff HEAD'
alias gdsr='gd --stat @{u}..HEAD'
alias gdr='gd @{u}..HEAD'
alias gds='git diff --stat'
alias gdst='git diff --staged'
alias gdu='gd -U0'

alias glr='git log @{u}..HEAD'
alias glx='git log --oneline -G'

alias gst='git status'
alias gss='git status --short'
alias gsvv='git status -vv'

alias gp='git push'
alias gpuom='git push -u origin main'

alias gc='git commit --verbose'
alias gcam='git commit --all --message'
alias gcaf='git commit --all -F - <<EOF'

alias gcl='git clone'
alias glo='git log --oneline --decorate'
alias gpr='git pull --rebase'
alias grs='git restore --staged'
alias gs='git show'
alias gaa='git add --all'

mvers() {
	sw_vers | awk '/ProductVersion:/{v=$2}/BuildVersion:/{b=$2}END{print "macOS "v" ("b")"}'
}

alias mcma='make clean && make all'

alias nosleep='caffeinate -s &'
alias allowsleep='killall caffeinate'

releases-rss() {
	curl -s https://developer.apple.com/news/releases/rss/releases.rss | \
  grep -E '(title|pubDate)' | \
  sed -e 's/^[ \t]*//' \
      -e 's/<title>//g' -e 's/<\/title>//g' \
      -e 's/<pubDate>//g' -e 's/<\/pubDate>//g' | \
  tail -n +3 | \
  paste - - | \
  awk -F'\t' '{printf "\033[1;32m%s\033[0m\n  %s\n\n", $1, $2}'
}

fmc() {
	fm respond -m system "Write a git commit message based on the following git diff. Output only the commit message and be specific, citing specific terms: $(git diff $@)"
}
