# System
alias ls='ls -A'
alias l='du -sh .* * | sort -h'

alias cat='bat'
alias vim='nvim'
alias grep='ggrep -P'
alias sed='gsed -E'
# alias find='gfind -regextype posix-extended'
alias awk='gawk'

alias ql='qlmanage -p'
alias ff='fastfetch'
alias cycles="system_profiler SPPowerDataType | sed -nE 's/^.*Cycle Count: ([0-9]+)/\1/p'"
alias {ei,energy-impact}='sudo powermetrics -n 1 --samplers tasks --show-process-energy | head -n 50'
alias pds='pmset displaysleepnow'
alias flush-dns='sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder'

alias bbl='brew bundle list --file ~/.homebrew/Brewfile'
alias bbd='brew bundle dump --force --file ~/.homebrew/Brewfile'

alias path='print -l $path'
alias fpath='print -l $fpath'

find() {
    if [ "$#" -eq 0 ]; then
        command gfind . -regextype posix-extended
    elif [[ "$1" == -* ]]; then
        command gfind . -regextype posix-extended "$@"
    else
        command gfind "$@" -regextype posix-extended
    fi
}

copypath() { 
	realpath "$1" | tr -d '\n' | pbcopy 
	echo "Copied location of $1 to clipboard"
}

backupdir() {
	local src="$1"
	local dest="${2:-$HOME/Library/Mobile Documents/com~apple~CloudDocs/Documents/backups}"
	local name="$(basename "$src")-backup-$(date +%F-%H%M%S)"

	mkdir -p "$dest" || return 1
	cp -a "$src" "$dest/$name"
	echo "Backup created: $dest/$name"
}

mkcd() {
	mkdir -p "$1" && cd "$1"
}

z() {
	if [[ "$1" == "reset" || "$1" == "r" ]]; then
		echo "Reloading shell..."
		exec zsh -il
	fi

    local file
    case "$1" in
        i|rc)  file="$ZDOTDIR/.zshrc" ;;
        v|env) file="$HOME/.zshenv" ;;
        p|pro) file="$ZDOTDIR/.zprofile" ;;
        a|alias) file="$ZDOTDIR/.aliases" ;;
		b|bindkey) file="$ZDOTDIR/.bindkey" ;;
		g|ghost) file="$XDG_CONFIG_HOME/ghostty/config" ;;
        *) echo "Usage: z [i/rc | v/env p/profile a/alias | b/bindkey | g/ghost] [s/source | e/edit| c/cat | b/bat] (Default: edit)"; return 1 ;;
    esac

	case "$2" in
		s|source) source "$file" && echo "Sourced $file" ;;
		e|edit|"") "${EDITOR:-nvim}" "$file" && echo "Edited $file" ;;
		c|cat) \cat "$file" ;;
		b|bat) bat "$file" ;;
		*) echo "Unknown action: $2" ;;
	esac
}
alias dot='cd $HOME/Dev/dotfiles'
alias repo='cd $HOME/Dev'
alias icloud='cd "$HOME/Library/Mobile Documents/com~apple~CloudDocs"'

alias giturl="git config --get remote.origin.url | gsed -E 's/^(https:\/\/github.com\/|git@github.com:)([^/:]+\/[^.]+)(\.git)?$/https:\/\/github.com\/\2\.git/'"
alias gitrem='open $(giturl)'

list_repos() {
	gfind $HOME/Dev -maxdepth 3 -type f -path '*/.git/config' -exec ggrep -hoP '(https:\/\/github.com\/|git@github.com:)([^/:]+\/[^.]+)(\.git)?' {} +
}

alias gcaf='git commit --all -F - <<EOF'
