alias bckp-dotfiles='rsync -avP --delete --exclude ".git/" --exclude ".DS_Store" "$HOME/Dev/dotfiles/" "/Users/user/Library/Mobile Documents/com~apple~CloudDocs/Documents/dotfiles-bckp/"'
alias ls='ls -A'
alias ll='ls -Al'
alias s='du -sh .* * | sort -h'

alias cat='bat'
alias vim='nvim'
alias grep='grep -hIE'

alias ql='qlmanage -p'
alias top='top -s 10 -n 15 -o mem -stats command,cpu,mem,state,time,pid'
#alias ff='fastfetch'
alias cycles="system_profiler SPPowerDataType | sed -nE 's/^.*Cycle Count: ([0-9]+)/\1/p'"
alias {ei,energy-impact}='sudo powermetrics -n 1 --samplers tasks --show-process-energy | head -n 50'
alias pds='pmset displaysleepnow'
alias flush-dns='sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder'

alias bugcp='brew update; brew upgrade --greedy; brew cleanup --prune=all'
alias bbl='brew bundle list --file ~/.homebrew/Brewfile'
alias bbd='brew bundle dump --force --file ~/.homebrew/Brewfile'

alias path='print -l $path'
alias fpath='print -l $fpath'

copypath() { 
	realpath "$1" | tr -d '\n' | pbcopy 
	echo "Copied location of $1 to clipboard"
}

mkcd() {
	mkdir -p "$1" && cd "$1"
}

z() {
	if [[ "$1" == "reset" || "$1" == "r" ]]; then
		echo "Reloading shell..."
		exec zsh -il
	fi

    local file
    case "$1" in
        i|rc)  file="$ZDOTDIR/.zshrc" ;;
        v|env) file="$HOME/.zshenv" ;;
        p|pro) file="$ZDOTDIR/.zprofile" ;;
        a|alias) file="$ZDOTDIR/.aliases" ;;
		b|bindkey) file="$ZDOTDIR/.bindkey" ;;
		g|ghost) file="$XDG_CONFIG_HOME/ghostty/config" ;;
        *) echo "Usage: z [i/rc | v/env p/profile a/alias | b/bindkey | g/ghost] [s/source | e/edit| c/cat | b/bat] (Default: edit)"; return 1 ;;
    esac

	case "$2" in
		s|source) source "$file" && echo "Sourced $file" ;;
		e|edit|"") "${EDITOR:-nvim}" "$file" && echo "Edited $file" ;;
		c|cat) \cat "$file" ;;
		b|bat) bat "$file" ;;
		*) echo "Unknown action: $2" ;;
	esac
}
alias icloud='cd "$HOME/Library/Mobile Documents/com~apple~CloudDocs"'

alias giturl="git config --get remote.origin.url | sed -E 's/^(https:\/\/github.com\/|git@github.com:)([^/:]+\/[^.]+)(\.git)?$/https:\/\/github.com\/\2\.git/'"
alias gitrem='open $(giturl)'

list_repos() {
	find $HOME/Dev -maxdepth 3 -type f -path '*/.git/config' -exec grep -EIoh '(https:\/\/github.com\/|git@github.com:)([^/:]+\/[^.]+)(\.git)?' {} +
}

alias gcaf='git commit --all -F - <<EOF'

mvers() {
	sw_vers | awk '/ProductVersion:/{v=$2}/BuildVersion:/{b=$2}END{print "macOS "v" ("b")"}'
}
